input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
    -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
}
  /*电子字体*/
/* @font-face {
    font-family: 'electronicFont';
    src: url("font/DS-DIGIT.TTF");
} */

.cesium-viewer-cesiumInspectorContainer {
    display: none;
}

p {
    margin: 0 !important;
    paddong: 0 !important;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 980px;
    min-height: 500px;
    overflow: hidden;
}

.app,
.app-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

/* .header {
    position: absolute;
    z-index: 950;
} */

.workspace {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.workspace-inner.workspace-inner-cursor-default {
    cursor: default;
}

.workspace-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.globe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.globe-inner,
.globe-container {
    width: 100%;
    height: 100%;
}

.globe-container {
    position: relative;
    overflow: hidden;
}

.cesium-widget,
.cesium-widget>canvas {
    width: 100%;
    height: 100%;
}

.toolbar {
    position: absolute;
}

.toolbar.toolbar-left {
    top: 15px;
    left: 15px;
}

.toolbar.toolbar-right {
    top: 22px;
    right: 55px;
}

.sidebar {
    position: absolute;
    width: 350px;
    top: 63px;
    -webkit-transition: bottom .3s ease-in-out;
    -o-transition: bottom .3s ease-in-out;
    transition: bottom .3s ease-in-out;
}

.sidebar-panel-close {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 15px;
    line-height: 1;
    font-size: 30px;
}

.sidebar.sidebar-left {
    left: -350px;
    bottom: 115px;
}

.sidebar-left .sidebar-panel.sidebar-panel-active {
    left: 400px;
}

.sidebar.sidebar-expanded {
    width: 700px;
}

.sidebar-panel-header {
    /*ͷ��*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 53px;
    padding: 15px;
    font-family: "Cuprum", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    font-size: 20px;
    border-bottom: 1px solid #eee;
}

.sidebar-panel-content {
    /*����*/
    position: absolute;
    /* top:53px; */
    top: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.nano {
    /*panel �����*/
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*  padding:10px 15px; */
    padding-top: 20px;
}

.nano-content {}

.sidebar-panel {
    position: absolute;
    top: 30px;
    width: 350px;
    height: 100%;
    /*  background-color: rgba(245,245,245,0.2); */
    /* background: rgba(38, 38, 38, .7); */
    background: rgba(48, 72, 253, .15);
    /* border: 2px solid rgba(0, 188, 255, 0.3); */
    /* border: 2px solid rgba(245, 245, 245, 0.06); */
    box-shadow: 0 0 10px 1px #000;
    /* opacity: .9; */
    filter: alpha(opacity=90);
}

.sidebar-left .sidebar-panel {
    border-left: none;
    left: 50px;
    /* border-bottom-right-radius: 8px;
border-top-right-radius: 8px; */
    -webkit-transition: left .3s ease-in-out;
    -o-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    border: 1px solid #565656;
}

.sidebar.sidebar-right {
    right: -350px;
    bottom: 115px;
}

.sidebar-right .sidebar-panel {
    border-right: none;
    right: 50px;
    /* border-bottom-left-radius: 8px;
border-top-left-radius: 8px; */
    -webkit-transition: right .3s ease-in-out;
    -o-transition: right .3s ease-in-out;
    transition: right .3s ease-in-out;
    border: 1px solid #565656;
}

.sidebar-right .sidebar-panel.sidebar-panel-active {
    right: 400px;
}

.sidebar-panel-fixed.sidebar-panel-fixed-bottom {
    bottom: 0;
    border-top: 1px solid #eee;
}

.sidebar-panel-fixed {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 15px;
    height: 62px;
    overflow: hidden;
}

.glyphicon {
    font-size: 20px;
}

.cesium-viewer-toolbar,
.cesium-viewer-bottom,
.cesium-viewer-animationContainer,
.cesium-viewer-timelineContainer,
.cesium-viewer-fullscreenContainer {
    display: none !important;
}

.headbar {
    /*头部标题*/
    /* position:absolute;
top:0;
left:0; */
}

.headbar .titleBox {
    /* background:#080C27; */
    background: rgba(48, 72, 253, .15);
    padding: 13px 20px 13px 50px;
    border-bottom: 1px solid #2E2E2E;
}

.footbar {
    /*尾部滚动*/
    position: absolute;
    bottom: 30px;
    left: 350px;
    right: 350px;
    height: 60px;
    font-size: 16px;
}

.footbar-right {
    position: absolute;
    width: 100%;
    bottom: 15px;
    text-align: center;
}

#autotype {
    font-size: 16px;
}

#scrollContainer {
    display: block;
    position: relative;
    height: 100%;
    line-height: 100%;
    overflow: hidden;
    color: #fff;
    font-size: 20px;
}

#scrollText {
    position: absolute;
    height: 100%;
    left: 1220px;
    white-space: nowrap
}

.margin-right {
    display: inline-block;
    margin-right: 25px;
}

em.glyphicon {
    display: inline-block;
    margin-right: 10px;
}

/*每一小块*/

.jbox-title {
    /* padding:10px 0; */
    border-bottom: 1px solid #565656;
    margin-bottom: 5px;
}

.jbox-title .h5 {
    margin: 0;
    padding: 0 3px 10px 3px;
    font-size: 18px;
    font-weight: bold;
    color: #00aced;
    margin-top: 10px;
    border-bottom: 1px solid #00ACED;
}

.jbox-content {
    padding: 5px;
}

/*jbox1-left*/
dl {
    margin: 0;
    margin-bottom: 5px;
}

.span-number {
    display: none;
}

.realTime-data>.row {
    border-bottom: 1px solid #2c2c2c;
}

.realTime-data>.row:last-child {
    border-bottom: none;
}

.realTime-data>.row>.col-md-4 {
    padding: 0;
}

.realTime-data>.row>.col-md-4 {
    border-right: 1px solid #2c2c2c;
}

.realTime-data>.row>.col-md-4:last-child {
    border-right: none;
}

.realTime-collect-picture {
    text-align: center;
    height: 39px;
    /* margin-bottom:5px; */
}

.realTime-collect-picture img {
    width: auto;
    height: auto;
    margin: 5px 0;
}

.realTime-collect-number div:first-child {
    display: inline-block;
    width: 55%;
    font-size: 10px;
}

.realTime-collect-number div:last-child {
    display: inline-block;
    width: 41%;
    font-size: 10px;
}

/*jbox2-left*/
/* #jbox2-left{
padding-top:5px;
} */
#realTime-visitList li {
    padding: 5px 2px;
    border-bottom: 1px solid #364554;
    margin: 0;
}

#realTime-visitList .custom-result {
    height: 49px;
}

.row-title p {
    margin: 0;
    font-weight: bold;
}

.row-content p {
    width: 100%;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.media-main p {
    width: 304px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.media-main p.custom-lrmove {
    margin-top: 5px !important;

}

/*右边pannel*/

#realTime-use li {
    padding: 5px;
    /* border-top:1px solid #364554; */
    border-bottom: 1px solid #364554;
}

.col-md-2,
.col-md-10,
.col-md-6 {
    margin: 0px !important;
    padding: 0px !important;
}

.footbar .site-item {
    width: auto;
}

.footbarList {
    width: 1220px;
}

.footbarList li span {
    display: inline-block;
    min-width: 200px;
}


/*move*/
#realTime-visitList {
    height: 294px;
    overflow: hidden;

}

#realTime-use {
    height: 495px;
    overflow: hidden;

}


/*弹出框*/
.earth-feed {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

#scrollView {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
}

.close-feed {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

/**/
.td-img img {
    width: 30px;
    height: 30px;
}

.td-total {
    color: #232728!important;
    height: 30px;
    line-height: 30px;
}

.td-add {
    color: #CF5425;
    height: 30px;
    line-height: 30px;
}

.table>thead>tr {
    border: none !important;
}

.table>thead>tr>th {
    font-size: 15px;
    background: #000;

}

.table>thead>tr>th,
.table>tbody>tr>td {
    text-align: center;
    height: 30px;
    line-height: 30px;
    border: none !important;

}

.table tr:nth-child(odd) {
    box-shadow: 0px 0px -1px #ddd;
}

.table tr:nth-child(even) {
    background: #000;
}

.jbox {
    padding: 0px 15px;
    padding-bottom: 0;
}

.br-line {
    height: 1px;
    background: #535353;
}

#realTime-countryList .row {
    margin: 0;
    padding-left: 4px;
}

#realTime-countryList .row div {
    text-align: center;
}

img {
    width: 30px;
    height: 30px;
}

#realTime-visitList img.media-object {
    width: 30px;
    height: 30px;
}

#realTime-visitList .media-heading {
    font-size: 5px !important;
    color: #999;
}

#realTime-visitList .media-main p {
    font-size: 14px !important;
    color: #fff;
}

.media-left {
    margin-right: 8px;
}

.media-left {
    display: table-cell;

    vertical-align: middle;

    /*设置水平居中*/

    text-align: center;
}

.media-keyWord {
    color: #C5623B;
}

.sidebar-panel {
    height: 860px !important;
}

/*right-mod2*/
.jbox-title .h5 font {
    color: rgba(152, 152, 152, .5)
}

.jbox-title .h5 .default-color {
    color: #989898;
    transition: all 1s linear;
}

.jbox-title .h5 .active-color {
    color: #00aced
}

/*翻转*/
.site-item {
    color: white;
    position: relative;
    height: 65px;
    border-bottom: 1px solid #364554;
}

.site-item>div {
    /**/
    backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
    position: absolute;
    top: 3px;
}

.footbar-picture {
    width: 35px;
    height: 35px;
}

.footbar .site-item-front,
.footbar .site-item-back {
    text-align: center;
    height: 35px;
    line-height: 36px;
}

.site-item .site-item-front {
    z-index: 9;
    width: 100%;
}

.site-item.flip .site-item-front {
    z-index: 8;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.site-item .site-item-back {
    z-index: 8;
    width: 100%;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.site-item.flip .site-item-back {
    z-index: 9;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.site-item-title {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    width: 300px;
    word-break: break-all;
    overflow: hidden;
}

.site-item-body {
    width: 300px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #fff;
    font-size: 14px;
    height: 39px;
}

.site-item-body a {
    color: #fff;
}

.site-item-foot {
    color: #989898;
    font-size: 8px;
}

.media-heading {
    margin: 0;
}

/*翻轉 */
.media-web {
    font-size: 5px !important;
    color: #999 !important;
    padding: 0;
    margin: 0;
}

/*弹出框*/
.messageBox {
    position: absolute;
    top: 30%;
    right: 450px;
    height: 500px;
    width: 350px;
}

.messageTitle {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    width: 350px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.messageBar {
    /* margin-left:50px; */
    font-size: 16px;
    /* border-bottom:1px solid #fff; */
}

.messageZhaiyao {
    font-size: 20px;
    margin-top: 5px;
    text-indent: 2em;
    width: 350px;
    word-break: break-all;
}

/* .twinkling{
font-family:'electronicFont';
-webkit-animation: twinkling .1s infinite ease-in-out;
color:rgba(0,103,230,1);
color:#fff;
}
@-webkit-keyframes twinkling{    透明度由0到1
0%{
    opacity:.7; 透明度为0
}
100%{
    opacity:1; 透明度为1
}
} */
.denglu,
.guanyu {
    width: 106px;
    height: 35px;
    line-height: 1.2;
    padding: 6px 12px;
    font-size: 17px;
    background: #040404;
    color: #fff;
    border: 1px solid #565656;
    border-radius: 30px;
    text-align: center;
}

.denglu {
    text-align: center;
    background: #00ACED;

}

.dengluPng {
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
}

.guanyuPng {
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
}

.newsContent {
    display: none !important;
    width: 200px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* .ll{
position:relative;
width:280px;
height:100%;
}
#login-mod{
position:absolute;
} */